<div class="">

    <% if(products) { %>
        <h1>products lists url: </h1>
        <p class="">Get products at 1st Page: <br>
            <a class="text-info  " href="/api/products">http://localhost:4000/api/products</a> <br>
            <a class="text-info  " href="/api/products?page=1">http://localhost:4000/api/products?page=1 </a>
        </p>
        <br>
        <p class="">Get products at 2st Page: <br>
            <a class="text-info  " href="/api/products?page=2">http://localhost:4000/api/products?page=2 </a>
        </p>
        <br>
        <p class="">Get products at any Page only you have to change page nunber</p>
        <br>
        <br>
        <br>
        <p class="text-success fs-4">I have implemented CRUD operations in Backend</p>


        <% } %>
</div>